.main__block {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 10px;
	box-sizing: border-box;
	border: 5px solid rgb(26, 33, 136);
}

.block {
	height: 100%;
	width: auto;
	max-width: 100%;
	box-sizing: border-box;
}

.block.iseven:hover {
	border: 5px solid rgb(236, 61, 8);
}

.block.isodd:hover {
	border: 5px solid rgb(57, 2, 82);
}
.block.isodd:active {
}
.main__button {
	text-align: center;
}

.block.iseven.isvisible {
	opacity: 0;
}

.block.isodd.img {
	background: url(/img/kisspng-anvil-tool-metal-paper-knife-anvil-5b1fe420dee497.882162291528816672913.jpg);
}
